a {
    text-decoration: none;
  }
  
  /* Optional: Add styles for visited link, hover, and active states */
  a:visited {
    color: inherit; /* Use the same color as the surrounding text for visited links */
  }
  
  a:hover {
    text-decoration: underline; /* Add underline on hover if needed */
  }
  
  a:active {
    color: inherit; /* Use the same color as the surrounding text for active links */
  }
  .CardMedia-img-container {
    overflow: hidden;
  }
  
  .CardMedia-img {
    transition: transform 0.3s ease-in-out;
  }
  
  .CardMedia-img:hover {
    transform: scale(1.1); /* You can adjust the scale factor for the desired zoom level */
  }